.avatar {
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
}

.add-target {
  width: 250rpx;
}

.head {
  height: 25vh;
}

.target-list {
  height: 75vh;
}

.taget-item {
  height: 300rpx;
  background-color: rgba(231, 113, 17, 0.678);
  box-sizing: border-box;
  border-radius: 10rpx;
  margin: 40rpx;
  color: #fff;
}